* {
  box-sizing: border-box;
}

img {
  position: absolute;
  top: 130px;
  left: 230px;
  display: block;
  max-width: 100%;
  height: 57px;
  width: 57px;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #4d4f62;
}
@media screen and (min-width 768px) {
  body {
    width: 1440px;
    height: 922px;
    margin: 20px;
  }
}

.title {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  text-align: center;
  margin: 15px;
}

@media screen and (min-width 768px) {
  .title {
    font-size: 36px;
    margin: 30px;
  }
}
.title-card {
  font-family: "Poppins", sans-serif;
  margin: 0;
  font-size: 20px;
}
p {
  color: rgba(77, 79, 98, 50%); 
  text-align: center;
  line-height: 25px;
  font-size: 15px;
  letter-spacing: 0,1px;
}
.light {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: light;
}

.semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  line-height: 23px;
}

.card {
  position: relative;
  width: 311px;
  height: 222px;
  padding: 28px;
  margin: 35px;
  border-radius: 8px;
  box-shadow: 0 15px 30px -11px rgba(77, 79, 98, 50%);
}

@media screen and (min-width 768px) {
  .card {
   width: 350px;
   height: 250px;
   position: absolute;
  }
}

.p-card {
  line-height: 23px;
  font-size: 13px;
  margin: 0;
  text-align: left;
}

.card-supervisor {
  border-top: 4px solid #44d3d2;
}

@media screen and (min-width 768px) {
  .card-supervisor {
   position: absolute;
  }
}

.card-teambuilder {
  border-top: 4px solid #ea5454;
}

@media screen and (min-width 768px) {
  .card-teambuilder {
   position: absolute;
  }
}

.card-karma {
  border-top: 4px solid #fcae4a;
}

@media screen and (min-width 768px) {
  .card-karma {
   position: absolute;
  }
}

.card-calculator {
  border-top: 4px solid #549ef2;
}

@media screen and (min-width 768px) {
  .card-calculator {
   position: absolute;
  }
}
